/* STYLE FOR YOU MAIN.HTML */
@font-face{
    font-family: pixel;
    src: url("assets/fonts/advanced-pixel-7/advanced_pixel-7.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    font-family: pixel;
}

body {
    background-image: url("assets/images/reviewback.jpg");
}

.top-nav {
    background-color: #3f2effb0;
    padding: 5px;
    text-align: left;
}
  
.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.top-nav li {
    display: inline;
}
  
.top-nav a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    border: 2px solid white;
    border-radius: 25px;
    padding: 3px 3px;
    transition: background-color 0.3s ease;
}
  
.top-nav a:hover {
    background-color: #1e00ff;
}
  
.page-title {
    text-align: center;
    font-size: 90px;
    margin: 5px 0;
    color: #ffffff;
    text-shadow: 4px 4px 5px #fbdc2b;
    animation: slideDown 1.2s ease-out;
}
  
.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    padding: 0 40px 50px;
}
  
.game-card {
    background-color: rgba(255, 255, 255, 0.814);
    border-radius: 20px;
    padding: 30px 25px;
    transition: transform 0.2s ease;
}
  
.game-card:hover {
    transform: scale(1.04);
}
  
.game-card h2{
    margin: 0;
    color: #333;
    font-size: 40px;
}
  
.game-card p{
    margin: 10px 0 15px;
    color: #444;
    font-size: 25px;
}
  
.stars{
    font-size: 1.5em;
    color: #ffd700;
}

img{
    width: 280px;
    height: auto;
    border-radius: 20px;
    cursor: pointer;
}

@keyframes slideDown{
    from {
      transform: translateY(-50px); opacity: 0;
    }
    to {
      transform: translateY(0); opacity: 1;
    }
}