@font-face{
    font-family: pixel;
    src: url("./assets/fonts/advanced-pixel-7/advanced_pixel-7.ttf");
}

*{
    margin: 0px;
    padding: 0px;
    font-family: pixel;
}

body{
    background: linear-gradient(180deg, #6DA0E1 0%, #2F80E4 50%, #5B61B2 100%);
}

/* Header */
ul{
    display: flex;
    float: left;
    justify-content: space-between;
    gap: 30px;
    margin-left: 40px;
    margin-top: 32px;
    margin-right: 90px;
    font-size: 17px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 30px;
    color: aliceblue;
    background-color: rgb(46, 32, 201);
    font-size: 30px;
    cursor: pointer;
}

h1{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    font-size: 75px;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 5px rgb(0, 21, 255);
}

input[type=text]{
    display: inline-flex;
    float: right;
    margin-top: 30px;
    margin-right: 200px;
    margin-left: 70px;
    padding-top: 5px;
    padding-right: 40px;
    font-size: 30px;
    cursor: pointer;
}

.avatar{
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 410px;
    border: 2px solid #fff;
}

/* Daily suggestions */
.suggestions-div{
    display: block;
    padding: 20px;
    gap: 20px;
    background: linear-gradient(135deg, #7209e3 0%, #2b0fff 100%);
    color: white;
    font-size: 20px;
    margin: 30px;
    border-radius: 20px;
}

.suggestions-div h2{
    font-size: 65px;
    text-align: left;
    margin-left: 10px;
    color: rgb(255, 255, 255);
}

.suggestions-div b{
    color: rgb(238, 246, 91);
}

.side-by-side{
    display: flex;
    font-size: 23px;
}

.suggestions-div img{
    width: auto;
    height: 210px;
}

button{
    display: block;
    border: 3px solid white;
    margin-top: 8px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color:#af7dff;
    font-family: pixel;
    font-size: 30px;
    cursor: pointer;
}

button:active{
    transform: rotate(10deg);
}

button:hover{
    background-color: #0011ff;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    margin-bottom: 15px; 
}

/* Bottom Half */
.bottomhalf{
    display: inline-flex;
}

/* Games */
.games{
    margin-left: 100px;
    margin-right: 70px;
}

.games h2{
    font-size: 60px;
    color: white;
}

.game-with-avatar {
    display: inline-block;
    margin: 10px 20px;
}
  
.game-with-avatar img:first-child {
    display: inline-block;
    width: 400px;
    height: auto;
}
  
.review-avatar {
    margin-top: 6px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
}  

.stars1{
    display: inline-block;
    color: yellow;
    font-size: 3rem;
}

/* Chatbox */
i{
    color: white;
    background-color: rgb(35, 35, 255);
    font-size: 50px;
    padding-left: 9%;
    padding-right: 69.7%
}

.chatbox{
    display: inline-block;
    background-color: rgb(232, 233, 191);
    margin-bottom: 10px;
    padding-right: 1px;
}

.chatter1 img{
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
}

.chatter2 img{
    float: right;
    margin-left: 20px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
}

.time1{
    float: right;
    color: #6a6a6a;
    margin-right: 2px;
} 

.time2{
    float: left;
    color: #6a6a6a;
}

.chatter1{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding-bottom: 30px;
    margin: 20px;
    width: 280px;
}

.chatter1 p{
    margin-top: 10px;
}

.chatter2{
    border: 2px solid #8f8e8e;
    background-color: #b8b8b8;
    border-radius: 5px;
    padding-bottom: 30px;
    margin: 20px;
    width: 280px;
}

.chatter2 p{
    margin-left: 15px;
    margin-top: 10px;
}